/*
 *	Login page
 *
 */

.login-page {
	height: 100%;
}

.login-page .logo-block {
	padding-top: 118px;
	text-align: center;
}

.login-page .login-form {
	margin-top: 42px;
	padding: 0 48px;
}

.login-page .login-form input[type="email"],
.login-page .login-form input[type="password"] {
	width: 100%;
	margin-top: 15px;
}

.login-page .login-form input:first-child {
	margin-top: 0;
}

.login-page .login-form .signup-button {
	margin-top: 25px;
}


.login-page .login-form .login-button {
	position: absolute;
	bottom: 35px;
	width: auto;
	left: 48px;
	right: 48px;
}




/*
 *	Social page
 *
 */

.hero {
	background: #13a2fe;
	background: -moz-linear-gradient(60deg,  #13a2fe 0%, #13c9fe 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#13a2fe), color-stop(100%,#13c9fe));
	background: -webkit-linear-gradient(60deg,  #13a2fe 0%,#13c9fe 100%);
	background: -o-linear-gradient(60deg,  #13a2fe 0%,#13c9fe 100%);
	background: -ms-linear-gradient(60deg,  #13a2fe 0%,#13c9fe 100%);
	background: linear-gradient(60deg,  #13a2fe 0%,#13c9fe 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13a2fe', endColorstr='#13c9fe',GradientType=1 );
	color: #ffffff;
	padding: 26px 19px 35px;
}

.hero h1 {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 25px;
}

.hero p {
	margin: 20px 0 0;
	font-size: 15px;
}

.social-types-list .list__item {
	margin: 0 0 0 15px;
}

.social-types-list .social-type-icon {
	vertical-align: middle;
	margin-top: -1px;
	margin-right: 11px;
}

.social-types-list .switch {
	vertical-align: middle;
	top: -1px;
}


/*
 *	Subscriptions page
 *
 */

.subscriptions-list .list__item {
	padding: 0 15px;
	display: table;
	width: 100%;
	height: 65px;
}

.subscriptions-list .user-photo {
	display: table-cell;
	vertical-align: middle;
	width: 15.5172%;
	padding-right: 3.4482%;
}

.subscriptions-list .user-photo img {
	max-width: 100%;
	vertical-align: middle;
	height: auto;
}


.subscriptions-list .info {
	display: table-cell;
	vertical-align: middle;
	width: 64.6551%;
	padding-right: 2.5862%;
}

.subscriptions-list .info h3 {
	font-size: 15px;
	color: #444444;
	line-height: 1;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 190px;
}

.subscriptions-list .info .description {
	color: #a7aeb3;
	line-height: 1.28;
	margin-top: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 190px;
}

.subscriptions-list .info .description .icon {
	margin-bottom: -2px;
	margin-right: 8px;
}


.subscriptions-list .follow-button-wrap {
	display: table-cell;
	vertical-align: middle;
	width: 14.6551%;
	text-align: right;
}

/*
 *	Profile page
 *
 */

.profile-card {
	display: table;
	width: 100%;
	text-align: center;
}

.profile-card .profile-level {
	display: table-cell;
	vertical-align: middle;
	width: 33%;
}

.profile-card .profile-level .circle {
	width: 75px;
	height: 75px;
	border: 2px solid #1093e5;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}

.profile-card .profile-level .circle .value {
	font-size: 22px;
	font-weight: bold;
	line-height: 1;
	margin-top: 15px;
}

.profile-card .profile-level .circle .label {
	font-size: 13px;
	line-height: 1;
	margin-top: 7px;
}




.profile-card .profile-photo {
	display: table-cell;
	vertical-align: middle;
	width: 33%;
}

.profile-card .profile-photo img {
	max-width: 100%;
	height: auto;
	-webkit-border-radius: 46px;
	-moz-border-radius: 46px;
	border-radius: 46px;
	overflow: hidden;
	border: 3px solid #ffffff;
	display: block;
	margin: 0 auto;
}


.profile-card .profile-actions {
	display: table-cell;
	vertical-align: middle;
	width: 33%;

}

.goals-list .green {
	color: #0bca24;
}

.goals-list .blue {
	color: #13a3fe;
}

.goals-list .gray {
	color: #b7bdc5;
}

.goals-list .icon {
	margin: 0 5px -2px 9px;
}

.goals-list .icon:first-child {
	margin-left: 0;
}

.goals-list .title,
.goals-list .status {
	line-height: 1;
	margin: 12px 0;
}




.inner {
	padding: 0 20px;
}

.inner.wide {
	padding: 0 15px;
}

p {
	margin: 20px 0;
}

.blank {
	height: 0;
}

.blank.h25 {
	margin-top: 25px;
}

.divider {
	border-top: 1px solid #dee1e5;
	height: 5px;
	background: #eaeff3;
}

.ons-list-inner .number {
	color: #bec4cd;
	padding-left: 5px;
}

ons-list-item.header {
	text-align: center;
}

ons-list-item.header strong {
	font-weight: bold;
}

ons-list-item.header .number {
	color: #bec4cd;
}

ons-button.follow,
ons-button.unfollow {
	height: 25px;
	line-height: 17px;
}

ons-button.unfollow {
	background: #0bca24;
}

ons-button.follow .icon.add,
ons-button.unfollow .icon.mark {
	position: relative;
	top: -2px;
}

.icon {
	display: inline-block;
	vertical-align: baseline;
}

.icon.user {
	width: 11px;
	height: 12px;
	-webkit-background-size: 11px 12px;
	background-size: 11px 12px;
	background-image: url(../images/user-icon.png);
}

.icon.add {
	width: 7px;
	height: 7px;
	-webkit-background-size: 7px 7px;
	background-size: 7px 7px;
	background-image: url(../images/add-icon.png);
}

.icon.mark {
	width: 8px;
	height: 6px;
	-webkit-background-size: 8px 6px;
	background-size: 8px 6px;
	background-image: url(../images/mark-icon.png);
}

.icon.fav {
	width: 15px;
	height: 15px;
	-webkit-background-size: 15px 47px;
	background-size: 15px 47px;
	background-image: url(../images/fav-icons.png);
}

.icon.fav.green {
	background-position: 0 0;
}

.icon.fav.gray {
	background-position: 0 -16px;
}

.icon.fav.blue {
	background-position: 0 -32px;
}

